<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Welcome to our Apple Inc Chatbot</h2>
    <button onclick="aiAgent()">Apple Inc Chatbot</button>
    <script>
    function aiAgent(){
        window.open("https://235e9d478d3a0fb741.gradio.live/", "_blank");
    }
    </script>
    <form action="/main" method="post">
        <input type = "submit" value="Main">
    </form>
    </div>
</body>




